* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*header and nav css********************************************/

header {
    height: 12vh;
    width: 100%;
    padding: 20px 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(34,34,34);
}

.logo {
    font-size: 2.3em;
    color: white;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    font-weight: 300;
    margin-left: 40px;
}

header a {
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height:  3px;
    background: white;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.accountSettings-main {
    display: flex;
    margin: 140px 30px 0px 30px;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 70px 60px;
    height: 25vh;
}

.sign-out a {
    border: 1px solid rgb(39, 39, 39);
    background-color: rgb(39, 39, 39);
    border-radius: 30px;
    padding:30px;
    text-decoration: none;
    color: white;
}

.sign-out a:hover {
    background-color: rgb(90,90,90);
    border: 1px solid rgb(90,90,90);
}