* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
 
}

header {
    height: 12vh;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    background: linear-gradient(148deg, rgb(34, 34, 34),rgb(65, 65, 65));
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    font-weight: 300;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height:  3px;
    background: white;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}


.login-main {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    height: 100vh;
}

.form-container-login {
    position: relative;
    width: 35vw;
    height: 60vh;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.form-box {
    width: 100%;
    padding: 30px;
}

.form-box h2 {
    font-size: 2em;
    font-weight: 400;
    color: black;
    text-align: center;
    margin-bottom: 5vh;
}



.input-box textarea {
    height: 30vh;
    width: 100%;
    margin-bottom: 40px;
    outline: none;
    border: lightgrey;
}

.btn {
    text-align: center;
}

.login-btn {
    width: 30%;
    height: 45px;
    background: rgb(39, 39, 39);
    border: 2px solid rgb(39, 39, 39);
    color: white;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    align-content: center;
}

.login-btn:hover {
    background-color: rgb(90, 90, 90);
    border: rgb(90, 90, 90);
}
