* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    height: 12vh;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(39, 39, 39);
}

.logo {
    font-size: 2.3em;
    color: white;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    font-weight: 300;
    margin-left: 40px;
}

header a {
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height:  3px;
    background: white;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}


/**************main content************/
main {
    text-align: center;
    padding: 0 20px 0 20px;
}

p {
    padding: 35px;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 300;
}

#container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#container .item {
    width: 50%;
    flex-grow: 1;
    border: 1px solid lightgrey;
    height: 70vh;
    margin-top: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgrey;
}

.incorrect-username-password {
  border: 1px solid;
}

.item2 {
    display: flex;
    justify-content: center;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 105%;
    width: 50%;
    flex-grow: 1;
    border: 1px solid lightgrey;
    height: 70vh;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 10px lightgrey;
  }
  
  .card {
    background: rgb(34, 34, 34);
    color: white;
    padding: 2em;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    margin: 10px;
    box-shadow: 0 0 10px grey;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }
  
  button:hover {
    background: #7c7c7c6b;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 73, 73);
    border-radius: 20px;
    padding: 7px;
    margin-bottom: 10px;
  }
  
  .description {
    text-transform: capitalize;

  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }

  .card2 {
    background: white;
    color: white;
    padding: 0em;
    border-radius: 10px;
    width: 100%;
    max-width: 420px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .card2 .day {
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px grey;

  }

  .day {
    background: rgb(34, 34, 34);
    flex-grow: 1;
    height: 25%;
    border: 1px solid;
    border-radius: 20px;
    border: none;
  }


/***************************************first item in container******************/
.item {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    border: 1px solid white;
    box-shadow: 0 0 5px lightgrey;
    overflow-y: scroll;
    box-shadow: 0 0 10px grey;
}

.job-listings {
  color: white;
  background-color: rgb(70, 70, 70);
  font-weight: 300;
  padding: 5px;
}

.parking1-container button:hover {
    background-color: white;
    cursor: pointer;
}

.delete-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    height: 50vh;
    background-color: rgb(29, 29, 29);
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px 30px 30px 30px;
    color: white;
    visibility: hidden;
    transition: transform 0.3s, top 0.1s;
    box-shadow: 0 0 5px grey;
}

.opendelete-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

}

.user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(90, 90, 90);
    height: 7vh;
}

.user-container:hover {
    cursor: pointer;
}

.user-container p {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.user-container button {
    background-color: white;
    font-weight: 400;
    color: black;
    border: white;
    border-radius: 5px;
    width: 100px;
    box-shadow: 0 0 1px grey;
    height: 35px;
}

.user-container button:hover {
    background-color: rgb(165, 165, 165);
    cursor: pointer;
}


/******************item 2 in container****************/





