extends layout
block content
  doctype html
  head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ahape
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lugrasimo&family=Satisfy&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/stylesheets/payment.css')
  main
    .col
      h3.title PAYMENT
    .container
      .card-container
        .front
          .card-number-box ################
          .flexbox
            .box
              span card holder
              .card-holder-name full name
            .box
              span expires
              .expiration
                span.exp-month mm
                span.exp-year yy
        .back
          .stripe
          .box
            span cvv
            .cvv-box
      form(action='#' method='POST')
        .inputBox
          span card number
          input.card-number-input(type='text' maxlength='16' name='numberInput')
        .inputBox
          span card holder
          input.card-holder-input(type='text' name='nameInput')
        .flexbox
          .inputBox
            span expiration mm
            select.month-input(name='monthInput' id='')
              option(value='month' selected='' disabled='') month
              option(value='01') 01
              option(value='02') 02
              option(value='03') 03
              option(value='04') 04
              option(value='05') 05
              option(value='06') 06
              option(value='07') 07
              option(value='08') 08
              option(value='09') 09
              option(value='10') 10
              option(value='11') 11
              option(value='12') 12
          .inputBox
            span expiration yy
            select.year-input(name='yearInput' id='')
              option(value='year' selected='' disabled='') year
              option(value='2021') 2021
              option(value='2022') 2022
              option(value='2023') 2023
              option(value='2024') 2024
              option(value='2025') 2025
              option(value='2026') 2026
              option(value='2027') 2027
              option(value='2028') 2028
              option(value='2029') 2029
              option(value='2030') 2030
          .inputBox
            span cvv
            input.cvv-input(type='text' maxlength='4')
        button.submit-btn(type='submit' value='submit') Submit
    script.
      document.querySelector('.card-number-input').oninput = () => {
      document.querySelector('.card-number-box').innerText = document.querySelector('.card-number-input').value;
      }
      document.querySelector('.card-holder-input').oninput = () => {
      document.querySelector('.card-holder-name').innerText = document.querySelector('.card-holder-input').value;
      }
      document.querySelector('.month-input').oninput = () => {
      document.querySelector('.exp-month').innerText = document.querySelector('.month-input').value;
      }
      document.querySelector('.year-input').oninput = () => {
      document.querySelector('.exp-year').innerText = document.querySelector('.year-input').value;
      }
      document.querySelector('.cvv-input').onmouseenter = () => {
      document.querySelector('.front').style.transform = 'perspective(1000px) rotateY(-180deg)';
      document.querySelector('.back').style.transform = 'perspective(1000px) rotateY(0deg)';
      }
      document.querySelector('.cvv-input').onmouseleave = () => {
      document.querySelector('.front').style.transform = 'perspective(1000px) rotateY(0deg)';
      document.querySelector('.back').style.transform = 'perspective(1000px) rotateY(180deg)';
      }
      document.querySelector('.cvv-input').oninput = () => {
      document.querySelector('.cvv-box').innerText = document.querySelector('.cvv-input').value;
      }

